@import "../components/addRecipeForm";
@import "../components/recipe";
@import "../components/recipePrep";

button.showRecipeForm {
  @include theme_button(blue);
  // padding: $space/2 $space;
  color: white;
  margin: 0 auto;
}
.addRecipeWrapper {
  display: none;
  justify-content: space-between;
  width: 100%;

  &.active {
    display: flex;
  }


}
