@import "components/recipeMenu";
@import "components/mealPlan";
@import "components/mealPlanHeading";
@import "components/header";
@import "components/login";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    margin: $space auto $space/2;
    font-size: 3em;
  }
}
