.addRecipeForm
  label Recipe Name
    input(name="recipe_name" type="text" placeholder="Recipe Name")
  label Recipe Image
    input(name="recipe_image" type="text" placeholder="Recipe Image")
  fieldset
    label Serving Size
      input(name="recipe_servsize" type="text" placeholder="4")
      i(class="fa fa-users")
    label Cooking Time
      input(name="recipe_cooktime" type="text" placeholder="40")
      select(class="cooktime_measure")
        option h
        option m
    label Blurb
      textarea(name="blurb" rows="5" cols="50")
  form.addIngredientForm
    p Add Ingredients
    label(class="ingredient_field") 
      |Name
      input(name="ingredient" type="text" placeholder="Carrots")
      |Qty
      input(name="qty" type="text" placeholder="4")
      |Measure
      input(list="measure" name="measure" type="text" placeholder="tbsp" autoComplete="off")
      datalist(id="measure")
        option(value="tsp")
        option(value="tbsp")
        option(value="cup")
        option(value="pinch")
        option(value="lbs")
        option(value="quart")
        option(value="pint")
        option(value="oz")
        option(value="ml")
        option(value="dash")
      
        
        
      button(type="submit" class="addIngredient")
        |+
      
  p Add Directions
  form.addDirectionsForm
    label Directions
      input(name="step" type="text" placeholder="Add a step")
      button(type="submit" class="addStep")
        |+
  button(type="button" class="addRecipe")
    |Add Recipe
