html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes|Lato")
  body
    .wrapper
      .header
        h1
          |Menu of the Week
        input(type="text" name="recipe_search" placeholder="Search from your recipes")
        .overlay
        ul.nav
          li
            a(href="#" class="nav_link")
              |Home
          li
            a(href="#" class="nav_link")
              |Add New Recipe
          li
            a(href="#" class="nav_link")
              |Pantry
        
      .content
        form(name="addRecipeForm")
          label Recipe Name
            input(name="recipe_name" type="text" placeholder="Recipe Name")
          label Recipe Image
            input(name="recipe_image" type="text" placeholder="Recipe Image")
          fieldset
            label Serving Size
              input(name="recipe_servsize" type="text" placeholder="4")
              i(class="fa fa-users")
            label Cooking Time
              input(name="recipe_cooktime" type="text" placeholder="40")
              select(class="cooktime_measure")
                option h
                option m
          p Add Ingredient
          label(class="ingredient_field") 
            |Name
            input(name="ingredient" type="text" placeholder="Carrots")
            p Qty
            input(name="qty" type="text" placeholder="4")
            button(type="button" class="addIngredient")
              |+
          p Add a step
          label Directions
            input(name="step" type="text" placeholder="Add a step")
            button(type="button" class="addStep")
              |+
          button(type="button" class="addRecipe")
            |Add Recipe
        .preview
          .preview-header
            .left
              h2(class="recipeName") Chicken Parmesan
              .header-info
                p(class="recipeServing") 
                  i(class="fa fa-users")
                  |Serves 4 people
                p(class="cookingTime") 
                  i(class="fa fa-clock-o")
                  |30 mins
              p(class="blurb") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            img(class="recipeImg" src="http://www.skinnytaste.com/wp-content/uploads/2012/09/baked-chicken-parmesan-550x367.jpg" alt="recipe image")
          .preview-body
            h3 Ingredients
            ul(class="ingredients")
              li(class="ing") 1/4 cup sugar
              li(class="ing") 1/4 cup sugar
              li(class="ing") 1/4 cup sugar
              li(class="ing") 1/4 cup sugar
              li(class="ing") 1/4 cup sugar
              li(class="ing") 1/4 cup sugar
              li(class="ing") 1/4 cup sugar
              li(class="ing") 1/4 cup sugar
              li(class="ing") 1/4 cup sugar
              li(class="ing") 1/4 cup sugar
              li(class="ing") 1/4 cup sugar
              li(class="ing") 1/4 cup sugar
              li(class="ing") 1/4 cup sugar
              li(class="ing") 1/4 cup sugar
              li(class="ing") 1/4 cup sugar
              li(class="ing") 1/4 cup sugar
              li(class="ing") 1/4 cup sugar
              li(class="ing") 1/4 cup sugar
            h3 Directions
            ol(class="directions")
              li(class="dir") 
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              li(class="dir") 
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              li(class="dir") 
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              li(class="dir") 
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              li(class="dir") 
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              li(class="dir") 
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              li(class="dir") 
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    script(type="text/javascript" src="bundle.min.js")
