.header
  h1
    |Homecooked
  input(type="text" name="recipe_search" placeholder="Search from your recipes")
  .overlay
  ul.nav
    li
      a(href="/" class="nav_link")
        |Home
    li
      a(href="/my_recipes" class="nav_link")
        |My Recipes
    li
      a(href="/create_recipe" class="nav_link")
        |Add New Recipe
    li
      a(href="/pantry" class="nav_link")
        |Pantry
