html(lang="en")
  head
    title= currentPage 
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes|Lato")
  body
    .wrapper
      if loggedIn == true
        include header  
        .content
          if currentPage == "Home"
            h1 Your Meal Plan
            include mealPlan
          if currentPage == "MyRecipes"
            include recipeList
          if currentPage == "AddRecipe"
            include addRecipeForm
            include recipe
          if currentPage == "Pantry"
            |Asuhdude
      
      else
        include loginForm
        
          
    script(type="text/javascript" src="client.min.js")
