html(lang="en")
  head
    title= currentPage 
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes|Lato|BioRhyme")
  body
    .wrapper
      if loggedIn == true
        include header  
        .content
          if currentPage == "Home"
            .home
              h1 Your Meal Plan
              include mealPlanHeading
              include mealPlan
              .recipeMenu
                ul.menu
          if currentPage == "MyRecipes"
            .myRecipes
              ul.recipeList
          if currentPage == "AddRecipe"
            .addRecipeWrapper
              include addRecipeForm
              include recipePrep
          if currentPage == "Pantry"
            .pantry
              |Asuhdude
      
      else
        include loginForm
        
          
    script(type="text/javascript" src="client.min.js")
