- var page = currentPage;

html
  head
    title= page
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes|Lato")
  body
    .wrapper
      include header  
      .content
        if page == "Home"
          |Hello
        if page == "AddRecipe"
          include addRecipeForm
          include recipe
        if page == "Pantry"
          |Asuhdude
    script(type="text/javascript" src="client.min.js")
