.login
  .overlay
  .right
    .headline
      h1 Homecooked
      h2 Weekly Meal Planning made easy
    
  
  .left
    form.loginForm.active(action="/" method="POST")
      if error
        span.errorMsg= error
      fieldset
        label 
          span Username
          input(type="text" name="user_name")
        label 
          span Password
          input(type="password" name="password" class="l_pwd")
      button(type="submit" class="loginBtn") Login
      a(href="/" class="forgotPwd") Forgot password?
      button(type="button" class="registerBtn") Register
      input(type="hidden" name="action" value="login")
    form.registerForm(action="/" method="POST")
      label Username
        input(type="text" name="name" placeholder="Username" class="r_un")
      label Password
        input(type="password" name="password" class="r_pwd")
      label Password
        input(type="password" name="confirm_password")
      label Profile Picture
        input(type="text" name="profile_picture" class="r_profile_pic")
      button(type="submit" class="registerBtn") Register
      input(type="hidden" name="action" value="register")
      
  
