ul.mealPlan
  li.weekday
    .weekLbl
      h3 MON
    .plan
      .recipe-mini
        img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Scampi_prawns.jpg/1024px-Scampi_prawns.jpg")
        .overlay
          h4 Shrimp Scampi
          .cta
            i(class="fa fa-check")
            i(class="fa fa-times")
            
      .placeholder
        i(class="fa fa-plus")
      .recipe-mini
        img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Scampi_prawns.jpg/1024px-Scampi_prawns.jpg")
        .overlay
          h4 Shrimp Scampi
          .cta
            i(class="fa fa-check")
            i(class="fa fa-times")
            
  li.weekday
    .weekLbl
      h3 TUE
    .plan
      .placeholder
        i(class="fa fa-plus")
      .placeholder
        i(class="fa fa-plus")
      .placeholder
        i(class="fa fa-plus")
      
  li.weekday
    .weekLbl
      h3 WED
    .plan
      .placeholder
        i(class="fa fa-plus")
      .placeholder
        i(class="fa fa-plus")
      .placeholder
        i(class="fa fa-plus")
  li.weekday
    .weekLbl
      h3 THU
    .plan
      .recipe-mini
        img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Scampi_prawns.jpg/1024px-Scampi_prawns.jpg")
        .overlay
          h4 Shrimp Scampi
          .cta
            i(class="fa fa-check")
            i(class="fa fa-times")
            
      .placeholder
        i(class="fa fa-plus")
      .placeholder
        i(class="fa fa-plus")
  li.weekday
    .weekLbl
      h3 FRI
    .plan
      .placeholder
        i(class="fa fa-plus")
      .placeholder
        i(class="fa fa-plus")
      .placeholder
        i(class="fa fa-plus")
        
  li.weekday
    .weekLbl
      h3 SAT
    .plan
      .recipe-mini
        img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Scampi_prawns.jpg/1024px-Scampi_prawns.jpg")
        .overlay
          h4 Shrimp Scampi
          .cta
            i(class="fa fa-check")
            i(class="fa fa-times")
            
      .placeholder
        i(class="fa fa-plus")
      .placeholder
        i(class="fa fa-plus")
  li.weekday
    .weekLbl
      h3 SUN
    .plan
      .placeholder
        i(class="fa fa-plus")
      .placeholder
        i(class="fa fa-plus")
      .placeholder
        i(class="fa fa-plus")
