ul.mealPlan
  li.weekday
    .weekLbl
      h3 MON
    .plan
      .placeholder
        i(class="fa fa-plus")
      .placeholder
        i(class="fa fa-plus")
      .placeholder
        i(class="fa fa-plus")
    
            
  li.weekday
    .weekLbl
      h3 TUE
    .plan
      .placeholder
        i(class="fa fa-plus")
      .placeholder
        i(class="fa fa-plus")
      .placeholder
        i(class="fa fa-plus")
      
  li.weekday
    .weekLbl
      h3 WED
    .plan
      .placeholder
        i(class="fa fa-plus")
      .placeholder
        i(class="fa fa-plus")
      .placeholder
        i(class="fa fa-plus")
  li.weekday
    .weekLbl
      h3 THU
    .plan      
      .placeholder
        i(class="fa fa-plus")
      .placeholder
        i(class="fa fa-plus")
      .placeholder
        i(class="fa fa-plus")
  li.weekday
    .weekLbl
      h3 FRI
    .plan
      .placeholder
        i(class="fa fa-plus")
      .placeholder
        i(class="fa fa-plus")
      .placeholder
        i(class="fa fa-plus")
        
  li.weekday
    .weekLbl
      h3 SAT
    .plan
      .placeholder
        i(class="fa fa-plus")
      .placeholder
        i(class="fa fa-plus")
      .placeholder
        i(class="fa fa-plus")
  li.weekday
    .weekLbl
      h3 SUN
    .plan
      .placeholder
        i(class="fa fa-plus")
      .placeholder
        i(class="fa fa-plus")
      .placeholder
        i(class="fa fa-plus")
