ul.mealPlan
  li.weekday
    h3 Monday
    .recipe-mini
      h4 Shrimp Scampi
      img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Scampi_prawns.jpg/1024px-Scampi_prawns.jpg")
      .cta
        i(class="fa fa-check")
        i(class="fa fa-times")
        i(class="fa fa-trash")
  li.weekday
    h3 Tuesday
    .placeholder
      i(class="fa fa-plus")
      
  li.weekday
    h3 Wednesday
    .placeholder
      i(class="fa fa-plus")
  li.weekday
    h3 Thursday
    .recipe-mini
      h4 Shrimp Scampi
      img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Scampi_prawns.jpg/1024px-Scampi_prawns.jpg")
      .cta
        i(class="fa fa-check")
        i(class="fa fa-times")
        i(class="fa fa-trash")
  li.weekday
    h3 Friday
    .placeholder
      i(class="fa fa-plus")
  li.weekday
    h3 Saturday
    .recipe-mini
      h4 Shrimp Scampi
      img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Scampi_prawns.jpg/1024px-Scampi_prawns.jpg")
      .cta
        i(class="fa fa-check")
        i(class="fa fa-times")
        i(class="fa fa-trash")
  li.weekday
    h3 Sunday
    .placeholder
      i(class="fa fa-plus")
