.addRecipeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $space;
  width: 60%;
  border-right: 1px solid #cdcdcd;
  button{
    @include theme_button(rgb(8, 168, 34));
    &.addRecipe{
      width: 300px;
      margin: 0 auto;
    }
  }
  input[type=text] {
    @include theme_input();
    margin: 0 $space/3;
    flex-grow: 1;
  }

  textarea[name="blurb"] {
    resize: none;
    @include theme_input;
    margin: 0 $space/3;
    font-size: 1em;
  }
  label {
    width: 100%;
    display: flex;
    align-items: center;
    padding: $space/2;
    margin: $space/2 0;
    input[name="qty"], input[name="recipe_servsize"], input[name="recipe_cooktime"]{
      width: $space * 2;
      flex-grow: 0;
    }
    input[name="measure"] {
      width: $space * 3;
      flex-grow: 0;
    }
    datalist {
      overflow: auto;
    }
    input[name="recipe_servsize"], input[name="recipe_cooktime"] {
      margin-left: $space/2;
    }
    select {
      height: $space * 1.5;
      width: $space * 1.5;
      padding: $space/2;
      border-width: 0;
      border: 1px solid #cdcdcd;
      box-shadow: 0px 1px 1px 1px #cdcdcd;
    }
  }
}
