.header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 35%;
  // height: 30%;
  padding: $space;
  width: 100%;
  position: relative;
  color: white;
  background: url('../public/img/cooking.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 2px 2px 2px #cdcdcd;
  h1 {
    font-size: 4em;
    font-family: $header-font-stack;
  }
  input[name="recipe_search"]{
    @include theme_input();
    width: 40%;
    padding: $space/2;
    z-index: 10;
    font-size: 1em;
    font-family: $font-stack;
    margin-top: $space;
    &:focus{
      outline: none;
    }
  }
  .overlay{
    background: #D4F2D2;
    opacity: 0.1;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width: 100%;
  }
  ul.nav{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    bottom: 0;
    li{
      a {
        font: 1.2em;
        display: block;
        padding: $space $space*1.5;
        text-align: center;
        text-decoration: none;
        color: white;
      }
    }
  }

}
