// ul.shoppingList {
//   display: flex;
//   flex-wrap: wrap;
//   // justify-content: center;
//   align-items: center;
//   border: 1px solid #cdcdcd;
//   width: 80%;
//   overflow: auto;
//   li {
//     margin: $space/2 $space * 2;
//   }
//
// }




ul.mealPlan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: $space*1.5 auto;
  width: 80%;
  li.weekday {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // padding: $space/2;
    border: 1px solid #eee;
    margin: $space/3 auto;
    height: 50%;
    transition: 0.2s transform;
    transform: scale(1);
    background: white;
    text-align: center;
    .weekLbl {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 25%;
      background: $coolRed;
      border-right: 1px solid darken($coolRed, 5%);
      border-bottom: 1px solid darken($coolRed, 5%);
      h3 {
        color: white;
        font-size: 4em;
        padding: $space;
      }
    }
    h4 {

    }
    .plan {
      display: flex;
      align-items: center;
      width: 75%;
      height: 100%;
      padding: $space/2;
      border: 1px solid #cdcdcd;
      .placeholder {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        width: 30%;
        height: 100%;
        padding: $space*2;
        border: 2px dashed $notSoDark;
        margin: 0 $space/2;
        transition: 0.2 background;
        i {
          font-size: 3em;
        }

        &:hover {
          background: #ddd;
        }
      }
      .recipe-mini {
        width: 30%;
        margin: 0 $space/2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        img {
          margin: 0 auto;
          width: 100%;
          height: 100%;
        }
        &:hover {
          .overlay {
            opacity: 0.8;
          }
        }

        .overlay {
          opacity: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          color: white;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,0.3);
          transition: 0.2s opacity;
          h4 {
            font-size: 1.5em;
          }
          .cta {
            margin: $space 0;
            i {
              font-size: 2em;
              margin: $space/3 $space;
              cursor: pointer;
              transform: scale(1);
              transition: 0.2s all;
              color: white;
              &:hover {
                &.fa-check {
                  transform: scale(1.2);
                  color: $successGreen;
                }
                &.fa-times {
                  transform: scale(1.2);
                  color: $errorRed;
                }
              }

            }
          }
        }
      }
    }
  }
}
