.recipeMenu {
  box-sizing: border-box;
  position: fixed;
  bottom: -90%;
  height: 90%;
  overflow: auto;
  background: url('../public/img/handmadepaper.png');
  width: 60%;
  transition: 0.4s all;
  z-index: 12;
  &.active {
    bottom: 0;
  }

  h4 {
    text-align: center;
    font-size: 3em;
    font-family: $header-font-stack;
    padding: $space 0;
    background: $coolRed;
    color: white;
    border: 1px solid $errorRed;
    box-shadow: 0px 2px 2px $errorRed;
  }

  ul.menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    li.recipe {
      cursor: pointer;
      width: 28%;
      height: 250px;
      box-sizing: border-box;
      padding: 0;
      transition: 0.3s all;
      transform: scale(1);
      &:hover {
        transform: scale(1.1);
      }
      // border-bottom: 1px solid #cdcdcd;
      .recipe-header {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        position: relative;
        padding: 0;
        .left {
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          text-align: center;
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,0.5);
          color: white;
          z-index: 13;
          .recipeName {
            font-size: 1.2em;
          }
          .recipe-info {
            display: none;
          }
        }
        .right {
          display: flex;
          justify-content: flex-start;
          ul {
            display: none;
          }
          img {
            width: 100%;
            height: 100%;
            position: absolute;
          }
        }
      }
      .recipe-body {
        display: none;
      }
    }
  }



}
