ul.shoppingList {
  width: 500px;
  margin: 0 auto;
  position: fixed;
  // bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
  height: 100vh;
  bottom: -100vh;
  background: white;
  z-index: 12;
  padding: $space;
  transition: 0.2s all;
  overflow-y: auto;
  &.active {
    bottom: 0;
  }
  span {
    width: 100%;
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
  }
  li {
    padding: $space/4;
    font-size: 1.5em;
    width: 100%;
    margin: 0 auto;
  }
}
