$notSoDark: #555;
$shadows: #cdcdcd;
$errorRed: #ba312d;
$coolRed: lighten($errorRed, 11%);
$backgroundColor: #f5f8f7;
$borderColor: #e1e1e1;

$textBlack: #333;
$footerBlack: #1f2326;

$successGreen: rgb(11, 193, 62);
