$space: 12px;
$banner-font-stack: "Great Vibes", "sans-serif";
$header-font-stack: "Cuprum", "Lato", "sans-serif";
$font-stack: "Song Myung", "Source Sans Pro", "Lato", "sans-serif";

$heading-fontsize: 32px;


$desktop: 1024px;
$tablet: 768px;
$mobile: 480px;
