@import "vars";
@import "colors";
@import "mixins";

// Modules
@import "modules/index";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: $font-stack;
  // background: $backgroundColor;
}

main {
  background: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
