@import "vars";
@import "colors";
@import "mixins";

// Modules
@import "modules/index";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  position: relative;
}

main {
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.container {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    max-width: 960px;
  }
  @media (min-width: 768px) and (max-width: 992px) {
    max-width: 720px;
  }
  @media (min-width: 576px) and (max-width: 768px) {
    max-width: 540px;
  }
}
