@import "vars";
@import "colors";
@import "mixins";

// Pages
@import "pages/login";
// @import "pages/myRecipes";
// @import "pages/addRecipe";
// @import "pages/pantry";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: $font-stack;
  background: $backgroundColor;
}

main {
  background: white;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}
