.c-cookbook {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: $backgroundColor;
  &__heading {
    width: 100%;
    padding: 24px 0;
    font-size: 32px;
    text-align: center;
    background: white;
    box-shadow: 0px 2px 10px 2px $borderColor;
  }

  &__page {
    width: 100%;

  }

  &__add-recipe {
    color: $notSoDark;
    display: inline-block;
    padding: 48px;
    font-size: 32px;
    border: 2px dashed $notSoDark;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    min-height: 350px;
    text-decoration: none;
    margin: 12px;
    transition: 0.2s all ease-in-out;
    &:hover {
      background: #dddddd;
      color: darken($notSoDark, 1%);
      border: 2px dashed darken($notSoDark, 1%);
    }
  }
}

.l-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.c-user-recipes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: $backgroundColor;

  &__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 960px;
    // margin: 0 auto;
  }

  &__list-item {
    background: white;
    min-width: 280px;
    min-height: 350px;
    margin: 12px;
    display: flex;
    max-width: 280px;
    border: 1px solid $borderColor;
    cursor: pointer;
    transition: 0.2s box-shadow ease-in-out;
    &:hover {
      box-shadow: 0px 4px 10px $borderColor;
    }

  }
  &__image {
    object-fit: cover;
    width: 100%;
    min-height: 200px;
    height: 200px;
  }

  &__info {
    padding: 12px;
  }

  &__user-lockup {
    margin: 12px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    span {
      margin: 0px 12px;
    }
  }

  &__user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  &__blurb {
    color: $notSoDark;
    font-size: 10px;
    max-width: 250px;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


.c-ingredient-list {
  padding: 12px;
  border-bottom: 1px solid $borderColor;
}
