.l-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.c-new-recipe {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 60%;
    padding: 24px;
    fieldset {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: none;
      width: 80%;
      margin: 0 auto;
      padding: 12px;

      input, textarea {
        border: 1px solid $borderColor;
        padding: 12px;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
      }
    }
  }
}

.c-recipe-detail {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 80%;
    padding: 24px;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    button {
      margin: 12px;
    }
  }

  &__info {
    img {
      width: 300px;
      height: 260px;
    }
  }
}


.c-user-recipes {
  &__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
  }

  &__list-item {
    min-height: 350px;
    margin: 12px;
    display: flex;
    max-width: 280px;
    border: 1px solid $borderColor;
    cursor: pointer;
    transition: 0.2s box-shadow ease-in-out;
    &:hover {
      box-shadow: 0px 4px 10px $borderColor;
    }

  }
  &__image {
    object-fit: cover;
    width: 100%;
    min-height: 200px;
    height: 200px;
  }

  &__info {
    padding: 12px;
  }

  &__user-lockup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    span {
      margin: 0px 12px;
    }
  }

  &__user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}


.c-ingredient-list {
  padding: 12px;
  border-bottom: 1px solid $borderColor;
}
