.c-cookbook {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: $backgroundColor;

  &__heading {
    width: 100%;
    padding: 24px 0;
    font-size: 32px;
    text-align: center;
    background: white;
    box-shadow: 0px 2px 10px 2px $borderColor;
  }

  &__page {
    width: 100%;

  }

  &__add-recipe {
    color: $notSoDark;
    display: inline-block;
    padding: 48px;
    font-size: 32px;
    border: 2px dashed $notSoDark;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 420px;
    min-height: 480px;
    text-decoration: none;
    margin: 12px;
    transition: 0.2s all ease-in-out;

    &:hover {
      background: #dddddd;
      color: darken($notSoDark, 1%);
      border: 2px dashed darken($notSoDark, 1%);
    }
  }
}

.l-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-user-recipes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  &__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    @media screen and (min-width: $tablet) {
      margin-left: 48px;
      justify-content: flex-start;
    }
  }
}


.c-ingredient-list {
  padding: 12px;
  border-bottom: 1px solid $borderColor;
}
