.c-dashboard {
  color: $textBlack;
  &__greeting {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: $tablet) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__profile-pic {
    display: block;
    width: 100%;
    @media screen and (min-width: $tablet) {
      width: 30%;
    }
    img {
      display: block;
      margin: 0 auto;
      max-width: 120px;
      max-height: 120px;
      border-radius: 50%;
    }
  }
}

.c-user-info {
  width: 100%;
  display: flex;
  padding: 12px;
  margin-top: 24px;
  justify-content: space-around;
  @media screen and (min-width: $tablet) {
    width: 70%;
  }
  &__bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (min-width: $tablet) {
      justify-content: flex-start;
    }
    span {
      &:first-child {
        font-size: 1.3em;
        font-weight: bold;
      }
      font-size: 1em;
      line-height: 1.4em;
    }
    i {
      font-size: 16px;
      margin-right: 24px;
    }
  }


  &__stats {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  &__stat {
    width: 100px;
    height: 100px;
    margin: 0 12px;
    border: 1px solid $borderColor;
    &-label {
      background: $coolRed;
      color: white;
    }
    span:last-child {
      color: $notSoDark;
      font-size: 1.2em;
      font-weight: bold;
    }
    span {
      padding: 12px;
      display: inline-block;
      width: 100%;
      vertical-align: middle;
      text-align: center;
    }
  }
}
