.c-new-recipe {
  &__add-button {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    padding: 12px 24px;
    // background: $successGreen;
    border: 1px solid $notSoDark;
    color: $notSoDark;
    text-decoration: none;
    transition: 0.2s background ease-in-out;
    i {
      margin-left: 24px;
      font-size: 12px;
    }
  }

  &__submit {
    font-size: 24px;
    color: $notSoDark;
    position: absolute;
    right: 24px;
    top: 50%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    position: relative;
    &:hover .c-new-recipe__action {
      opacity: 1;
    }
    &:hover .c-new-recipe__next {
      opacity: 1;
    }
  }

  &__actions {
    color: $notSoDark;

    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  &__action {
    color: $notSoDark;
    opacity: 0;
    margin: 12px 24px;
    transition: 0.3s opacity;
    &:visited {
      color: $notSoDark;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 24px;
    min-width: 600px;
    overflow: scroll;
    fieldset {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: none;
      width: 80%;
      margin: 0 auto;
      padding: 12px;

      input,
      textarea {
        border: 1px solid $borderColor;
        padding: 12px;
        width: 100%;
        max-width: 500px;
        margin: 12px auto;
      }
    }
  }
  &__preview {
    display: block;
    width: 80%;
    text-align: center;
  }

  &__next {
    font-size: 24px;
    color: $notSoDark;
    position: absolute;
    right: 24px;
    top: 50%;
  }

  .c-ingredient-list,
  .c-instruction-list {
    margin-top: 12px;
    background: $backgroundColor;
  }
  .c-ingredient,
  .c-instruction {
    text-align: left;
    background: white;
    margin: 0;
    border-bottom: 1px solid $backgroundColor;
  }
  .c-instruction {
    margin-left: 12px;
  }
}
