.c-new-recipe {
  &__heading {
    font-size: 2rem;
    margin-bottom: 24px;
    text-align: center;
    margin: 0 auto 24px;
    font-family: $header-font-stack;
    font-weight: 500;
    display: inline-block;
    padding: 12px 0;
    width: 100%;
    max-width: 300px;
  }

  &__field {
    display: flex;
  }

  &__add-button {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid $notSoDark;
    color: $notSoDark;
    text-decoration: none;
    transition: 0.2s background ease-in-out;
    i {
      margin-left: 24px;
      font-size: 1rem;
    }
  }

  &__wrapper {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    @media screen and (min-width: $tablet) {
      position: relative;
    }

    &:hover .c-new-recipe__action {
      opacity: 1;
    }
    &:hover .c-new-recipe__next {
      opacity: 1;
    }
  }

  &__actions {
    color: $notSoDark;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  &__action {
    color: $notSoDark;
    opacity: 1;
    margin: 12px 24px;
    transition: 0.3s opacity;
    @media screen and (min-width: $mobile) {
      opacity: 0;
    }
    &:visited {
      color: $notSoDark;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 24px;
    overflow: scroll;
    @media screen and (min-width: $tablet) {
      min-width: 600px;
    }

    fieldset {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: none;
      width: 90%;
      margin: 0 auto;
      padding: 12px;
      label {
        margin: 12px 0;
        &[for="hours"], &[for="minutes"] {
          font-size: 0.8rem;
        }
      }
      ::placeholder {
        color: $borderColor;
      }
      input,
      textarea {

        border: 1px solid $borderColor;
        padding: 12px;
        width: 100%;
        margin-bottom: 12px;
        &[name="hours"], &[name="minutes"] {
          display: inline-block;
          width: 50%;
          max-width: 100px;
        }
        &[name="servingSize"] {
          max-width: 100px;
        }
      }
    }
  }

  &__cook-time {
    display: flex;
    flex-direction: column;
  }

  &__preview {
    display: block;
    width: 80%;
    text-align: center;
  }

  &__next, &__finish {
    position: relative;
    font-size: 1.5rem;
    color: white;
    padding: 12px 24px;
    border: 2px solid $notSoDark;
    max-width: 200px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px auto;
    transition: 0.2s all ease-in-out;
    box-shadow: 1px 1px 0px rgba(0,0,0,.1);
    background: none;
    z-index: 0;
    @media screen and (min-width: $tablet) {
      margin-left: auto;
      margin-top: 24px;
    }
    &:hover {
      transform: translateY(-1px);
      box-shadow: 0 10px 20px rgba(0,0,0,.1);
    }
  }
  &__next::before, &__finish::before {
      content: "";
      display: block;
      position: absolute;
      top: 6px;
      right: -6px;
      left: 6px;
      bottom: -6px;
      width: 100%;
      z-index: -1;
      background: $homecookedRed;
    }

  .c-ingredient-list,
  .c-instruction-list {
    margin-top: 12px;
    background: $backgroundColor;
  }
  .c-ingredient,
  .c-instruction {
    text-align: left;
    background: white;
    margin: 0;
    border-bottom: 1px solid $backgroundColor;
  }
  .c-instruction {
    margin-left: 12px;
  }
}
